In [43]:
import os
import json
import requests
import numpy as np
import pandas as pd
from tqdm import tqdm

In [184]:
train = pd.read_csv(os.path.join('..', 'data', 'proc', 'raw_train.csv'))
test = pd.read_csv(os.path.join('..', 'data', 'proc', 'raw_test.csv'))

In [185]:
df = pd.concat([train, test], axis = 0)
df.shape

(19715327, 12)

In [186]:
# reference가 item으로만 이뤄진 interaction 뽑기
import re
def findNum(x):
    return re.sub(r'[ㄱ-ㅎ가-힣a-zA-Z,]', '@', x)

In [193]:
seoul_hotel_list = []
df.loc[(df['action_type'] == 'clickout item') & (df['city'] == 'Seoul, South Korea'), 'impressions'].apply(lambda x : seoul_hotel_list.extend(x.split('|')))

279        None
282        None
285        None
286        None
287        None
           ...
3759946    None
3769502    None
3769503    None
3769509    None
3769511    None
Name: impressions, Length: 4439, dtype: object

In [197]:
seoul_hotel = df.loc[(df['city'] == 'Seoul, South Korea') & (df['reference'].notnull()), 'reference'].apply(lambda x : findNum(x))

In [198]:
seoul_hotel = pd.DataFrame(seoul_hotel)

In [39]:
seoul_hotel_list = seoul_hotel.loc[seoul_hotel['reference'].str.contains('@') == False].drop_duplicates().values

In [ ]:
seoul_hotel_list = seoul_hotel_list + list(seoul_hotel.loc[seoul_hotel['reference'].str.contains('@') == False].drop_duplicates()['reference'].values)

In [5]:
item = pd.read_csv(os.path.join('..', 'data', 'proc', 'item_metadata.csv'))

In [208]:
seoul_hotel_list = list(set(seoul_hotel_list))

In [209]:
len(seoul_hotel_list)

1803

In [211]:
temp = set(seoul_hotel_list) - set(item_dict.keys())

In [212]:
len(temp)

244

In [9]:
headers = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36'
}

In [213]:
temp = list(temp)

In [214]:
temp[:5]

['34321', '4714096', '5660026', '7796938', '5856434']

In [215]:
for idx in tqdm(temp):
    url = f'https://www.trivago.co.kr/api/v1/accommodation/{idx}/overview.json'
    try:
        response = requests.get(url, headers = headers)
        item_dict[idx] = response.json()
    except:
        continue

100%|██████████| 244/244 [02:55<00:00,  1.39it/s]

In [216]:
len(item_dict.keys())

1803

In [217]:
item_json = json.dumps(item_dict)

In [218]:
with open(os.path.join('..', 'data', 'proc', 'seoul_hotel_info.json'), 'w') as f:
    json.dump(item_json, f)

# idx2item 사전 만들기

In [219]:
seoul_hotel_list = list(item_dict.keys())

In [227]:
item = pd.read_csv(os.path.join('..', 'data', 'proc', 'item_metadata.csv'), dtype = {'item_id' : str})

In [228]:
item = item.merge(pd.DataFrame(seoul_hotel_list), left_on = 'item_id', right_on = 0, how = 'left')

In [229]:
item.columns = ['item_id', 'properties', 'isvalid']

In [230]:
item.loc[item['isvalid'].notnull(), 'isvalid'] = 1

In [231]:
item.loc[item['isvalid'].isnull(), 'isvalid'] = 0

In [232]:
item = item.sort_values('isvalid', ascending = False).reset_index(drop = True).reset_index()

In [233]:
# 서울 호텔 개수 1802개
item['isvalid'].sum()

1802

In [234]:
item

,index,item_id,properties,isvalid
0,0,2555968,From 2 Stars|Body Treatments|Family Friendly|B...,1
1,1,7264010,Hotel|Satisfactory Rating|Very Good Rating|Goo...,1
2,2,7146092,House / Apartment|Good Rating|Very Good Rating...,1
3,3,6523164,Laundry Service|Conference Rooms|WiFi (Public ...,1
4,4,2249496,WiFi (Public Areas)|Car Park|Luxury Hotel|Open...,1
...,...,...,...,...
927137,927137,5693154,House / Apartment,0
927138,927138,5694290,Resort,0
927139,927139,5697716,Restaurant|Hotel|Wheelchair Accessible|Air Con...,0
927140,927140,5699572,Hotel,0
927141,927141,11275316,Hotel,0

In [235]:
a = []
for idx in tqdm(item['item_id']):
    try:
        a.append(item_dict[idx]['accommodation']['address'].get('locality', None))
    except:
        a.append('없음')

100%|██████████| 927142/927142 [00:01<00:00, 643860.10it/s]

In [236]:
item['city'] = a

In [237]:
# clickout 'city'가 seoul + impressions 인데 locality가 서울로 명시되어 있지 않는 행들
item.loc[(item['city'] != '서울') & (item['isvalid'] == 1), 'city'].value_counts()

없음       211
인천        29
멕시코시티     22
김포        11
부천         9
고양         8
성남         6
부산         6
안양         5
구리         1
남양주        1
마사틀란       1
의정부        1
도쿄         1
대전         1
Oita       1
경주         1
마드리드       1
아카풀코       1
Name: city, dtype: int64

In [238]:
item.loc[(item['city'] != '서울') & (item['isvalid'] == 1), 'isvalid'] = 0

In [239]:
item = item.sort_values('isvalid', ascending = False)

In [240]:
# 서울 호텔 1485개로 진행
item['isvalid'].sum()

1485

In [244]:
item = item.reset_index(drop = True).reset_index().drop('index', axis = 1).rename(columns = {'level_0' : 'item_idx'})[['item_idx', 'item_id']]

In [245]:
idx2item = item.to_dict()['item_id']

In [246]:
item2idx = {i : j for j,i in idx2item.items()}

In [247]:
import joblib

In [248]:
joblib.dump({
    'idx2item' : idx2item,
    'item2idx' : item2idx
}, 'dict4sas.pkl')

['dict4sas.pkl']

# 최종데이터 추출

In [249]:
# 전체데이터에서 user는 94만명
# 전체데이터에서 item은 43만개
df['user_id'].nunique(), df['reference'].nunique()

(948041, 434873)

In [250]:
df = df.loc[df['action_type'] == 'clickout item', ['user_id', 'reference', 'timestamp']].reset_index(drop = True).sort_values(['user_id', 'timestamp'])

In [252]:
# reference가 비어있는 row -> test로 사용할 예정
test = df.loc[df['reference'].isnull()]
df = df.loc[df['reference'].notnull()]

In [253]:
df.shape

(1861792, 3)

In [254]:
df = df.merge(df.groupby('user_id')['reference'].count().reset_index(), on = 'user_id', how = 'left')

In [256]:
tb = df.loc[df['reference_y'] > 2][['user_id', 'reference_x']]

In [270]:
tb['item_idx'] = tb['reference_x'].apply(lambda x : str(item2idx.get(x, None)))

In [282]:
tb = tb.loc[tb['item_idx'] != 'None']

In [287]:
idx2user = tb['user_id'].drop_duplicates().reset_index(drop= True).to_dict()
user2idx = {i : j for j,i in idx2user.items()}

In [290]:
tb['user_idx'] = tb['user_id'].apply(lambda x : str(user2idx.get(x, None)))

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [293]:
tb = tb[['user_idx', 'item_idx']]

In [294]:
tb.to_csv(os.path.join('..', 'data', 'proc', 'data_trv.csv'), header = None, index = False)

In [295]:
joblib.dump({
    'idx2item' : idx2item,
    'item2idx' : item2idx,
    'idx2user' : idx2user,
    'user2idx' : user2idx,
}, os.path.join('..', 'data', 'proc', 'dict4sas.pkl'))

['../data/proc/dict4sas.pkl']

In [298]:
# user 19만9천580명
# item 22만98개
tb['user_idx'].nunique(), tb['item_idx'].nunique()

(199580, 220098)

In [ ]:
# 서울 호텔은 1485개

In [300]:
len(user2idx.keys()), len(item2idx.keys())

(199580, 927142)