In [37]:
import os
import json
import requests
from tqdm import tqdm

In [3]:
with open(os.path.join('..', 'data', 'proc', 'seoul_hotel_info.json'), 'r') as f:
    f = json.load(f)

In [5]:
f = json.loads(f)

In [74]:
find_hotel = list(map(lambda x : x.strip(), input().split(',')))

 10091602,  4638538,   155465,  3501452,   363071,   377811,         5712036,  3954788,  6477218,   155372,  3485578,  1402992,         2628030,   390361,  2855981,  1320558,  3767064,  3136052,         3171546,  4538760,  2397652,  9141056,   475276,  4774512,         2736998

In [75]:
len(find_hotel)

25

In [76]:
find_hotel

['10091602',
 '4638538',
 '155465',
 '3501452',
 '363071',
 '377811',
 '5712036',
 '3954788',
 '6477218',
 '155372',
 '3485578',
 '1402992',
 '2628030',
 '390361',
 '2855981',
 '1320558',
 '3767064',
 '3136052',
 '3171546',
 '4538760',
 '2397652',
 '9141056',
 '475276',
 '4774512',
 '2736998']

In [38]:
images = {}
for idx in tqdm(find_hotel):
    temp = f[idx]
    imgs = temp['images']
    urls = []
    for img in imgs:
        url = img['urls']['preview'][2:]
        urls.append(url)
    images[idx] = urls

100%|██████████| 16/16 [00:00<00:00, 50006.61it/s]

In [40]:
len(find_hotel)

16

In [46]:
url = 'https://www.trivago.co.kr/api/v1/accommodation/3485578/images-web46271.json'

In [50]:
header = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36'
}

In [51]:
response = requests.get(url, headers = header)

In [66]:
find_hotel

['14159911',
 '8587847',
 '306130',
 '4235369',
 '306139',
 '455538',
 '9597806',
 '155372',
 '3485578',
 '1402992',
 '2628030',
 '390361',
 '2855981',
 '1320558',
 '3767064',
 '3136052',
 '3171546',
 '4538760',
 '2397652',
 '9141056',
 '475276',
 '4774512',
 '2736998       8076702',
 '11946590',
 '']

In [82]:
image_dict = {}
for idx in tqdm(find_hotel):
    url = f'https://www.trivago.co.kr/api/v1/accommodation/{idx}/images-web46271.json'
    response = requests.get(url, headers = header) 
    data = response.json()
    urls = []
    for item in data['images']:
        urls.append(item['url'][2:])
    image_dict[idx] = urls

100%|██████████| 25/25 [00:09<00:00,  2.53it/s]

In [78]:
image_dict.keys()

dict_keys(['10091602', '4638538', '155465', '3501452', '363071', '377811', '5712036', '3954788', '6477218', '155372', '3485578', '1402992', '2628030', '390361', '2855981', '1320558', '3767064', '3136052', '3171546', '4538760', '2397652', '9141056', '475276', '4774512', '2736998'])

In [87]:
with open(os.path.join('..', 'data', 'proc', 'img_dict.json'), 'w') as f:
    json.dump(image_dict, f)